.search-form form {
    display: flex;
    margin: 0.5rem 0;
    width: 800px;
  }
  
  input#search {
    flex: 1;
    padding: 0.5rem;
    font-size: 1rem;
  }

.btn-search {
    margin-left: 0.5rem;
    padding: 10px 20px;
    border: outset;
    background-color: #ccc;
    font-weight: bold;
    cursor: pointer;
  }
